@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 45px;
    padding: 0 10px;
    align-items: center;
    background: linear-gradient(to left, #160078, #4A00E0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.list-item {

    display: flex;
    gap: 20px;
}

.list-item a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

/* Efek Underline */
.list-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: aqua;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

/* Efek saat hover */
.list-item a:hover {
    color: aqua;
}

/* Efek saat diklik (active) */
.list-item a.active {
    color: aqua;
}

.list-item a.active::after {
    width: 100%;
}


.menu-toggle {
    padding: 0 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.menu-toggle:hover {
    background-color: white;
    color: #160078;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


/* *Sidebar */
.sidebar {
    width: 150px;
    height: 100vh;
    background: linear-gradient(to bottom left, #160078, #4A00E0);
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: -300px;
    top: 0;
    padding: 20px;
    transition: 0.3s;
    z-index: 100;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.sidebar-menu {
    flex-grow: 1
}

.sidebar-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 6px;
    list-style: none;
}

.sidebar-menu a {
    display: block;
    text-decoration: none;
    color: white;
    align-items: center;
    gap: 10px;
}

.sidebar-menu a i {
    font-size: 20px;
    margin-right: 5px;
}

.footer-sidebar {
    margin-bottom: 20px;
    color: rgb(182, 182, 182);
    font-size: 10px;
    text-align: center;
}

.sidebar.active {
    left: 0;
}


/* hover sidebar instagram animation */
.sidebar-menu a {
    display: inline-block;
    margin: 3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .instagram {
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .instagram:hover {
    padding: 5px;
    background-color: white;
}

.sidebar-menu .instagram a:hover {
    background: linear-gradient(45deg, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: instagram-move 3s infinite linear;
    -webkit-animation: instagram-move 3s infinite linear;
}

/* Animasi Gradient Bergerak */
@keyframes instagram-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* hover sidebar Facebook */
.sidebar-menu .facebook {
    border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .facebook:hover {
    background-color: white;
    padding: 5px;
}

/* Agar link memenuhi seluruh area li */
.sidebar-menu .facebook a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar-menu .facebook:hover a {
    color: rgb(1, 101, 225);
}


/* hover sidebar WhatsApp */
.sidebar-menu .whatsapp {
    border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .whatsapp:hover {
    background-color: white;
    padding: 5px;
}

.sidebar-menu .whatsapp a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .whatsapp:hover a {
    color: rgb(95, 252, 123);;
}


/* hover sidebar Threads */
.sidebar-menu .threads {
    border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .threads:hover {
    background-color: white;
    padding: 5px;
}

.sidebar-menu .threads a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .threads:hover a {
    color: rgb(0, 0, 0);
}

/* hover sidebar Tiktok */
.sidebar-menu .tiktok {
    border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .tiktok:hover {
    background-color: white;
    padding: 5px;
}

.sidebar-menu .tiktok a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .tiktok:hover a {
    color: rgb(0, 0, 0);;
}

/* hover sidebar Email */
.sidebar-menu .email {
    border-radius: 13px;
    transition: all 0.3s ease;
}

.sidebar-menu .email:hover {
    background-color: white;
    padding: 5px;
}

.sidebar-menu .email a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .email:hover a {
    color: rgb(255, 94, 0);;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.overlay.active {
    display: block;
}