@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.list-item {
    position: relative;
    display: flex;
    gap: 20px;
}

.list-item a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

/* Efek Underline */
.list-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: aqua;
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%);
}

/* Efek saat hover */
.list-item a:hover {
    color: aqua;
}

/* Efek saat diklik (active) */
.list-item a.active {
    color: aqua;
}

.list-item a.active::after {
    width: 100%;
}


.menu-toggle {
    padding: 0 12px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.menu-toggle:hover {
    background-color: white;
    color: #4A00E0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}


/* Sidebar */
.sidebar {
    width: 150px;
    height: 100vh;
    background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column; /* Mengatur isi sidebar secara vertikal */
    left: -300px;
    top: 0;
    padding: 20px;
    transition: 0.4s;
    z-index: 100;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Jarak antar menu */
}

.sidebar a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px 0;
    display: block;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #FFD700; /* Warna berubah saat hover */
}

.footer-sidebar {
    color: rgb(182, 182, 182);
    font-size: 10px;
    text-align: center;
}


.sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.overlay.active {
    display: block;
}