@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Digital Dismay';
    src: url('fonts/digital-dismay.regular.otf') format('opentype');
}

* {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-message {
    position: absolute;
    font-size: 15px;
    top: -80px;
    width: auto;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: auto;
    max-width: 80%;
    white-space: nowrap;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.alert-message.active {
    visibility: visible;
    opacity: 1;
    top: 20px;
}

.alert-message.default {
    opacity: 0;
    top: -80px
}

.calc {
    background: linear-gradient(to bottom left, #160078, #4A00E0);
    border-radius: 15px;
    padding: 15px;
    width: 320px;
    overflow: hidden;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(0, 0, 0, 0.8),
        inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.display-container {
    margin: 10px;
}

.display-the-result {
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 2px;
    font-size: 4rem;
    text-align: right;
    border: none;
    outline: none;
    background-color: white;

}

.calc-btn {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 30%;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.operator-btn {
    background-color: rgb(0, 255, 200);
    color: black;
}

.clear-btn {
    background-color: white;
    color: rgb(255, 0, 0);
}

.backspace-btn {
    background-color: white;
    color: rgb(255, 0, 0);
}

.function-btn {
    background-color: white;
    color: orange;
}

.equal-btn {
    background-color: orange;
    color: white;
}